@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root {
    --header-height: 3rem;

    /* purple 250 Green 142 Bleu 130 Pink 340 */

    --hue-color: 250;
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    ;
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;

    --body-font: 'Poppins', sans-serif;

    /* 0.5rem= 8px, 1 rem = 16px, 1.5rem = 24px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    padding: auto;
}

html {
    scroll-behavior: smooth;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

.nav__item {


    float: left;
    padding-top: 5px;
}

li a {

    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* li a:hover:not(.active) {
    background-color: #111;
  } */

.nav_icon {

    float: right;
}

.nav__item :hover {

    background-color: rgb(225, 235, 218);
}

.nav__link {
    margin-top: 7px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.nav__list {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.presentation_container {
    padding-top: 12%;
    padding-left: 13%;
    float: left;
    width: 50%;

}

.titre {
    font-size: 30px;
    padding-bottom: 0.15%;
    font-family: 'Poppins', sans-serif;
    font-style: bold;

}

.bonjour {

    font-size: 30px;
    padding-bottom: 0.15%;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    color: rgba(210, 162, 226, 0.8)
}

.nom {
    font-size: 30px;
    padding-bottom: 6%;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    color: rgba(213, 238, 204, 0.9)
}

.texte {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;

}

/* .btn_contain{
    padding-top: 15%;
} */

.presentationTexte {
    padding-bottom: 10%;

}

.btn {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    font-style: bolder;
    color: rgba(45, 42, 42, 0.8);
    box-shadow: 3px 3px 7px 0 rgba(78, 75, 77, 0.5);
    width: 180px;
    padding: 10px;


}

.contact {
    background-color: rgba(213, 238, 204, 0.9);


}

.contact:hover {
    background-color: rgba(213, 238, 204, 0.603)
}

section {
    /* height: 100%; */
    padding-bottom: 90px;
    display: block;
    padding-top: 10px;

}

.propos_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;


}

.aPropos {
    margin-top: 90px;
    text-align: center;
    padding-bottom: 5%;

}

.aProposTexte {
    text-align: justify;
    padding-bottom: 5%;

}

.btn_aPropos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;

}

.cv {
    background-color: rgba(213, 238, 204, 0.9);


}

.cv:hover {
    background-color: rgba(213, 238, 204, 0.603)
}

.lettre {
    background-color: rgba(210, 162, 226, 0.47);

}

.lettre:hover {
    background-color: rgba(210, 162, 226, 0.374)
}

#formation {
    display: flex;
    flex-direction:row-reverse;
    float: left;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;

}

#experience {
    float: right;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;

   /* background-color: bisque; */
}

.texte_bulle {
    text-align: center;
}

.annee {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 170px;
    margin-bottom: 15%;


}

.titre_bulle {
    font-weight: 700;
}

.bulle {

    width: 170px;
    height: 170px;
    background-color: rgb(116, 96, 193);
    padding: 5px;
    margin-bottom: 6px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border-radius: 100px;



}


.bulleEte2021 {
    margin-top: 59%;
}


.titre_experience {
    /* padding-bottom: 60px; */
}

.bulle2021 {
    padding-top: 22%;

}

.bulle2020 {
    padding-top: 19%;
}

.bulleEte2021 {
    padding-top: 12%;
    background-color: rgba(210, 162, 226, 0.37);

}

.formation_bulle {
    background-color: rgba(196, 233, 183, 0.45);
}

.fleche {
    padding-left: 3%;
    padding-top: 40%;
    height: 240px;
    margin-left: 20px;
    width: 140px;


}

.blobExperience_svg{
    float: right;
    padding-left: 6%;
    padding-top: 9%;
}

#fetp{
    padding-bottom: 48%;
    /* background-color: blue; */
}


.DivBlobCapture_svg{
    /* background-color: black; */
    padding-top: 5px;
    float: left;
    width: 45%;
    padding-left: 4%;

}
.blobCapture_svg{

    /* background-color: aqua; */
    width: 450px;
    height: 442px;
    box-sizing: border-box;
    margin-left: 6%;
    margin-right: 20%; 


}

.bar_svg{
    width: 110px;
    text-align: center;
    height: 450px;
   
    /* background-color: rgb(148, 33, 33); */
    grid-column: 1;
    grid-row: 1 ;
}

.DivBar_svg{
    
    width:40%;
    float: right;
    margin-right: 5%;
    /* background-color: aquamarine;  */

    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
    
}



.div_texte{
    /* background-color: rgb(167, 177, 37); */
}
#projet{
    padding-top: 5%;
    /* background-color: blueviolet; */
    padding-bottom: 45%;

}

.projets {
    text-align: center;
    /* background-color: bisque; */

}

.texte_projet{
    /* background-color: coral; */
    float: right;
    width: 300px;
    margin-top: 12%;
    grid-column: 2;
    grid-row: 1;

}

.container_texte{
    float: right;
}





